/* Slider (+FlexSlider fixes) */
#slider {
    width: 100%;
    background: #323642;
    border-bottom: 5px solid #D8D8D8;
    border-top: 1px solid #3f4557;
    box-shadow: inset 0 -30px 30px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -30px 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -30px 30px 0 rgba(0, 0, 0, 0.1);
}

#slider .container {
    padding: 0;
}

#slider .container .slider-wrapper {
    padding: 50px 0;
    position: relative;
}

#slider #slider-nav {
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 9999;
    text-align: center;
    visibility: hidden;
}

#slider #slider-nav .slider-nav-btn {
    cursor: pointer;
    padding: 6px 8px;
    background: #3D4352;
    display: inline;
    position: relative;
    top: 5px;
    transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
}

#slider #slider-nav .slider-nav-btn:hover {
    background: #52BEDD
}

#slider .main-slider .slides li.type2 a.caption:hover {
    background: #52BEDD;
    color: #fff;
}

#slider .flex-control-paging li a.flex-active {
    background: #52BEDD;
    cursor: default;
}

#slider .type0 {
    text-align: center;
}

/* Flexslider */
.flex-container a:active, .main-slider a:active, .flex-container a:focus, .main-slider a:focus {
    outline: none
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-slider {
    margin: 0;
    padding: 0;
}

.main-slider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    min-height: 306px;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.main-slider .slides img {
    float: left;
    display: block;
}

.main-slider .slides li iframe {
    border: 10px solid #404655;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.main-slider .slides li.type1 {
}

.main-slider .slides li.type1 .left img {
    float: left;
    display: block;
}

.main-slider .slides li.type1 .right .caption {
    float: right
}

.main-slider .slides li.type1 .left .caption {
    float: left
}

.main-slider .slides li.type1 .right img {
    float: right
}

.main-slider .slides li.type1 .caption h2 {
    color: #F3F2F7;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: none;
}

.main-slider .slides li.type1 .caption p {
    color: #C2C2C5;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.main-slider .slides li.type2 a.caption {
    position: absolute;
    left: 30px;
    bottom: 31px;
    font-size: 16px;
    font-weight: 300;
    color: #2B2F3B;
    text-decoration: none;
    background: #fff;
    background-color: rgba(255,255,255,0.9);
    padding: 8px 14px;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
}

.main-slider .slides li.type2 a.caption.right {
    right: 30px;
    left: auto;
}

.main-slider .slides li.type2 img {
    border: 10px solid #404655;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.main-slider .slides li img, .main-slider .slides li iframe {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex-pauseplay span {
    text-transform: capitalize
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .slides > li:first-child {
    display: block
}

.main-slider {
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px
}

.main-slider .slides {
    zoom: 1
}

.carousel li {
    margin-right: 5px
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 0;
    display: none;
}

.flex-control-nav li {
    margin-right: 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    line-height: 0;
}

.flex-control-paging li a {
    width: 80px;
    height: 8px;
    display: block;
    background: #404655;
    cursor: pointer;
    text-indent: -9999px;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
}

.flex-control-paging li a:hover {
    background: #4F5769
}

.main-slider-control-nav {
    margin-top: -19px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: -59px;
    text-align: center;
    line-height: 0;
}

.main-slider-control-nav li {
    margin-right: 4px;
    display: inline-block;
    zoom: 1;
    width: 120px;
    margin-right: 4px;
    height: 10px;
    display: inline-block;
    background: #404655;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
}

.main-slider-control-nav li:hover {
    background: #4F5769
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
